<div id="<%= dom_id plant %>">
  <h2><%= link_to plant.nickname, plant_path(plant) %></h2>

  <p>
    <strong>Variety:</strong>
    <%= plant.variety %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plant.description %>
  </p>
</div>
