<h1>My Plants</h1>

<%= link_to "Add a new plant", new_plant_path %>

<div id="plants" class="row container">
  <% @plants.each do |plant| %>
    <%= render plant, url: plant_path(plant) %>
  <% end %>
</div>
