<h1 class="header-with-button">
  <span>My Plants</span>

  <span class="btn-container" %>
    <%= link_to "Add a new plant", new_plant_path, class: 'btn btn-primary' %>
  </span>
</h1>

<div id="plants" class="row container">
  <% @plants.each do |plant| %>
    <%= render plant, url: plant_path(plant) %>
  <% end %>
</div>
