.comments {
  .comment {
    padding: 0px;
    width: 18rem;
    margin: 10px;

    .card-body {
      max-height: 15rem;
      overflow: scroll;
      min-height: 10rem;
    }

    .content {
      &:before {
        content: "“"
      }
      &:after {
        content: "”"
      }
    }

    .attribution {
      font-size: 0.8em;
    }
  }
}
