@import "bootstrap";

$green: #32a852;
$green-dark: darken($green, 20);
$white: #ffffff;
$off-white: darken($white, 10);

.nav {
  padding: 10px 30px;
  background-color: $green;
  color: $white;

  a {
    color: $white;
    font-weight: 500;
    text-decoration: underline;
    &:hover {
      color: $green-dark;
    }
  }
}

.padded-content {
  padding: 20px 50px;
}

.footer {
  margin-top: 30px;
  margin-bottom: 10px;
  border-top: 1px solid black;
  padding-top: 10px;
}

.header-with-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-cancel {
  margin-left: 2em;
}

h1, h2, h3 {
  font-family: "Sora", sans-serif;
  font-weight: 700;
}

p, a, span {
  font-family: 'Open Sans', sans-serif;
}

.btn {
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  background-color: $green;
  border: 1px $green solid;

  &:hover {
    background-color: $green-dark;
    border: 1px $green-dark solid;
  }
}

a {
  color: $green;
  &:hover {
    color: $green-dark;
  }
}

.btn-secondary {
  color: $green;
  background-color: $white;
  border: 1px $green solid;

  &:hover {
    background-color: $off-white;
    color: $green;
    border: 1px $green solid;
  }
}