@import "bootstrap";
@import "variables";

.nav {
  padding: 10px 30px;
  background-color: $green;
  color: $white;

  a {
    color: $white;
    font-weight: 500;
    text-decoration: underline;
    &:hover {
      color: $green-dark;
    }
  }
}

.padded-content {
  padding: 20px 4rem 0 4rem;
  min-height: calc(100vh - 160px);

  @media (max-width: $mobile-width) {
    padding: 20px 3rem;
  }
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid black;
  padding: 15px 0;
}

.header-with-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-cancel {
  margin-left: 2em;
}

h1, h2, h3, h4, h5 {
  font-family: "Sora", sans-serif;
  font-weight: 700;
}

p, a, span {
  font-family: 'Open Sans', sans-serif;
}

.btn {
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  background-color: $green;
  border: 1px $green solid;

  &:hover {
    background-color: $green-dark;
    border: 1px $green-dark solid;
  }
}

a {
  color: $green;
  &:hover {
    color: $green-dark;
  }
}

.btn-secondary {
  color: $green;
  background-color: $white;
  border: 1px $green solid;

  &:hover {
    background-color: $off-white;
    color: $green;
    border: 1px $green solid;
  }
}
